<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item">
      <div class="card-img-overlay d-flex justify-content-center bg-opacity-04">
        <div class="m-auto w-50 text-center">
          <h3 class="text-warning">Zéro déchet</h3>
          <p class="text-light h6">Les matériaux à partir desquels nous travaillons sont issus au moins à 50% d’éléments recyclés à qui nous offrons une seconde vie au travers de nos créations.</p>
        </div>
      </div>
      <%= image_tag "zero_dechet.jpg", class: "d-block w-100" %>
    </div>
    <div class="carousel-item active">
      <div class="card-img-overlay d-flex justify-content-center bg-opacity-04">
        <div class="my-auto w-50 text-center">
          <h3 class="text-warning">Artisanal</h3>
          <p class="text-light h6">Nos créations sont made in France et fabriquées à la main avec beaucoup d’amour.</p>
        </div>
      </div>
      <%= image_tag "local.jpg", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <div class="card-img-overlay d-flex justify-content-center bg-opacity-04">
        <div class="m-auto w-50 text-center">
          <h3 class="text-warning">Local</h3>
          <p class="text-light h6">Notre projet s’inscrit dans une démarche écologique et respectueuse de l’environnement afin de préserver la planète et son avenir, et c’est pour cette raison que nous favorisons au maximum les circuits courts.</p>
        </div>
      </div>
      <%= image_tag "artisanal.jpg", class: "d-block w-100" %>
    </div>
  </div>
</div>
