<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item">
      <%= image_tag "zero_dechet.jpg", class: "d-block w-100" %>
    </div>
    <div class="carousel-item active">
      <%= image_tag "local.jpg", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "artisanal.jpg", class: "d-block w-100" %>
    </div>
  </div>
</div>
