<div class="container d-flex flex-column justify-content-center">
  <h2 class="pt-4 text-center text-warning">Votre commande n'a pas abouti</h2>
  <p class="my-2">Une erreure s'est produite ou vous n'êtes plus si sûre de votre choix ? Pas de problème, rien n'a été prélevé sur votre compte. Nous attachons une importance particulière à ce que votre achat soit fait dans les meilleures conditions alors prenez votre temps pour recommencer quand vous le voulez.</p>
  <p>En attendant, nous vous invitons à découvrir qui nous sommes ainsi que nos valeurs ou à retrouver les articles de votre panier :</p>
  <div class="d-flex justify-content-center">
    <a class="m-2 btn btn-primary align-self-center" href="<%= cart_path(current_user.cart.id) %>">Mon panier</a>
    <a class="m-2 btn btn-info align-self-center" href="<%= root_path %>">En savoir plus</a>
  </div>
</div>
