<div class="container">
  <div class="d-flex flex-column justify-content-center">
    <h2 class="mt-4 text-center text-primary">Comment devenir créateur ?</h2>
    <p class="mt-4 text-center">Tu souhaites devenir créateur et vendre tes créations sur le site de la Boutique des Nouveaux Designs ? Voilà comment s'y prendre: </p>
    <p class="text-center"><strong>1.</strong> Remplis le formulaire avec les informations liées à ton activité.</p>
    <p class="text-center"><strong>2.</strong> Envoie ces informations à l'association l'Atelier des Nouveaux Designs, qui prendra le temps de regarder ton profil.</p>
    <p class="text-center"><strong>3.</strong> Une fois les informations validées par l'association, un mail te seras envoyé et ton profil sera automatiquement mis à jour. Si ce n'est pas le cas, tu pourras toujours demander pourquoi :)</p>
  </div>
  <div class="actions mt-5 d-flex justify-content-end">
    <%= link_to "Devenir créateur", new_shop_path, :class=>"btn btn-success" %>
  </div>

</div>
