<div class="container">
  <div class="d-flex flex-column justify-content-center">
    <h1 class="mt-4 text-center text-primary"><%= t("cgv.title") %></h1>
    <p class="mt-4 text-center"><%= t("cgv.text") %></p>
  </div>
</div>