<h2 class="mt-4 text-center text-primary">La Boutique des Nouveaux Designs</h2>

<div class="actions mt-5 d-flex justify-content-center">
  <%= link_to "Comment devenir artisan ?", become_maker_path, :class=>"btn btn-success" %>
</div>
