<div class="mt-5">
  <p class="text-center">Vous avez déjà fait la demande de création d'une boutique<br><span class="text-center font-italic font-weight-light">(ou vous avez déjà une boutique active)</span></p>
  <p class="text-center">Si vous rencontrez un problème concernant la gestion de votre boutique, veuillez directement nous contacter par mail à :</p>
  <p class="text-center"><strong>atelier@nouveauxdesigns.fr</strong></p>
</div>
