<div class="container w-75 mt-4">
  <p class="text-center">Voici le formulaire de contact pour te permettre de nous présenter ton activité et, nous l’espérons tout comme toi, vendre tes créations sur le site de la Boutique des Nouveaux Designs si nos valeurs concordent.</p>

  <p class="text-center">Parle-nous de toi, de tes créations (tu peux nous partager ton site web si tu en as un sinon envoie nous quelques photos), de ta marque et des valeurs qui te tiennent à coeur. N’hésite pas à mettre dans la description tout autre éléments qui nous permettra de mieux te connaitre.</p>

  <p class="text-center">Pour que l'on puisse poursuivre nos échanges, nous aurions besoin que tu nous communiques une adresse mail (que nous considérerons comme ton adresse mail professionnelle) à laquelle nous pouvons te contacter.</p>

  <p class="text-center text-primary"><strong>A très vite !</strong></p>
</div>
<div class="container w-25 mt-4  mb-5">
  <hr class="bg-primary">
</div>
