<div class="container w-75 mt-4">
  <p class="text-center"><%= t("shop.new.text.p_1") %></p>
  <p class="text-center"><%= t("shop.new.text.p_2") %></p>
  <p class="text-center"><%= t("shop.new.text.p_3") %></p>
  <p class="text-center text-primary"><strong><%= t("shop.new.text.p_4") %></strong></p>
</div>
<div class="container w-25 mt-4  mb-5">
  <hr class="bg-primary">
</div>
