<div class="card bg-light text-dark m-5" style="height:400px;width:300px">
  <img src="..." class="card-img" alt="...">
  <div class="card-img-overlay d-flex flex-column align-items-center justify-content-end">
    <%= button_to shop.brand, shop_path(shop.id), {method: 'get', form_class: "m-2 pt-1", class: "btn btn-primary" } %>
  </div>
</div>
