<div class="card card-shop bg-light text-dark">
  <%= image_tag shop.show_image, class: "card-img p-5 rounded" %>
  <% unless shop.image.present? %>
    <div class="absolute-centered">
      <div class="card-text text-warning font-weight-bold"><%= t("shop.index.new_maker_html") %></div>
    </div>
  <% end %>
  <div class="d-flex flex-column align-items-center justify-content-end mb-3">
    <%= link_to shop.brand, shop_path(shop.id), class: "my-3 btn btn-primary stretched-link" %>
  </div>
</div>
