<div class="container">
  <h1><%= @user_to_validate.shop.email_pro %></h1>

  <%= button_to "Accepter", user_path(@user_to_validate.id), method: 'put', :class => "btn btn-success btn-lg btn-block" %>
  <%= button_to "Refuser", shop_path(@user_to_validate.shop.id), method: 'delete', :class => "btn btn-danger btn-lg btn-block" %>
</div>
