<h2 class="mt-4 text-center text-primary"><%= @shop_image.image.metadata['filename'] %></h2>
<div class="mt-4 d-flex justify-content-center">
  <%= image_tag @shop_image.image_url, style: "max-height:300px; max-width:400px" %>
</div>
