  <div class="card bg-light text-dark" style="height:200px;width:200px">
    <img src="<%= item.item_pictures[0].picture_url %>" class="card-img" alt="...">
    <div class="card-img-overlay">
      <%= item.name %>
    </div>
  </div>
