<h2 class="pt-4 text-center text-primary"><%= t("category.#{@category.name}") %></h2>

<div class="d-flex flex-wrap justify-content-center">
  <% @items.each do |item| %>
    <% if item.available_qty > 0 %>
      <%= render(ItemCardComponent.new(item: item)) do %>
        <%= render(IconsOverlayComponent.new(item: item, user: current_user))%>
      <% end %>
    <% end %>
  <% end %>
</div>
