<h2 class="pt-4 text-center text-primary"><%= t("category.#{@category.name}") %></h2>

<div class="d-flex flex-wrap justify-content-center">
  <% @items.each do |item| %>
    <% if item.available_qty > 0 %>
      <%= render 'items/item_card', item: item %>
    <% end %>
  <% end %>
</div>
