<div class="container vh-100">
  <h2 class="pt-4 text-center text-primary"><%= @category.name %></h2>

  <div class="row row-cols">
    <% @items.each do |item| %>
      <%= render 'items/item_card', item: item %>
    <% end %>
  </div>
</div>
