<footer class="bg-light p-4 mt-3">
  <div class="row">
    <div class="col-sm text-center">
      <h4 class="pt-2">Réseaux sociaux</h4>
      <ul class="list-unstyled">
        <li>
          <i class="fab fa-facebook-square"></i>
          <a class=" text-dark" href="https://www.facebook.com/LatelierdesNouveauxDesigns/">Facebook</a>
        </li>
        <li>
          <i class="fab fa-linkedin"></i>
          <a class=" text-dark" href="https://www.linkedin.com/company/atelier-des-nouveaux-designs/">Linkedin</a>
        </li>
        <li>
          <i class="fas fa-globe"></i>
          <a class=" text-dark" href="https://www.nouveauxdesigns.fr/">Association</a>
        </li>
      </ul>
    </div>

    <div class="col-sm text-center">
			<h4 class="pt-2"> A propos </h4>
			<ul class="list-unstyled">
        <li>
          <%= link_to "Devenir artisan ?", become_maker_path, :class=> "text-dark" %>
        </li>
        <li>
          <a class=" text-dark" href="#!">CGV</a>
        </li>
        <li>
          <a class=" text-dark" href="#!">Mentions légales</a>
        </li>
        <li>
          <a class=" text-dark" href="#!">FAQ</a>
        </li>
			</ul>
		</div>

    <div class="col-sm text-center">
			<h4 class="pt-2"> Contact </h4>
      <ul class="list-unstyled">
        <li>
          <a class=" text-dark" href="#!">Nous contacter</a>
        </li>
        <li>
          <p> 49 Rue Smith 69002 Lyon, France </p>
        </li>
      </ul>
		</div>
  </div>
  <div class="footer-copyright text-center mt-3">© 2020 Upcycling:
    <a class="text-dark" href="https://fr.wikipedia.org/wiki/Surcyclage"> Upcyclez et vous verrez</a>
  </div>
</footer>
